
.title{
  font-family: Open Sans;
    line-height: 1.2
    
}
.time{
   display: flex;   
    justify-content: space-between;
}
#title-time{
    font-family: inherit;
  
}

.clock{
  
    font-family: Open Sans;
    border-style: solid;
    width: 550px;
    height: fit-content;
    padding: 10px;
    border-width: 2px;
    background-color: #FCA500;
}

.date{
    display: flex;
    justify-content: space-between;
}