// Use the gear_dropdown.png screenshot as a style guide
#gear-dropdown{
    position: absolute; 
   
   
    display: none;
    width: 200px;
    height: auto;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}

ul:last-child:hover #gear-dropdown{
    display: block;
    z-index: 1;
}

#gear-dropdown { 
    span  { 
        font-size: 11px;
        color: rgb(104, 104, 104); 
        font-weight: bold;
        padding: 10px;
        margin-left: 20px;
        display: block;
    } 
    a  { 
        font-size: 13px; 
        color: gray;
        padding: 10px;
        margin-left: 20px;
        display: block;
    } 

} 