.main-nav {
  display: flex;
  justify-content: space-between; 
  padding: 15px; 
  border-bottom: 1px solid $light-gray;
}

.left-nav > ul,
.right-nav > ul {
 
  font-family: Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 12px; 
}

.left-nav {

  > ul {
    > li {
      display: inline-block;
      padding-right: 20px;
    }
  }

  span {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
  }
}

.right-nav  {

  > ul {

    > li {
  display: inline-block;
    }

    > li:last-of-type {
  
    }
  }
  
  i { 
    font-size: 15px 
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;

}
