
.masthead-links2 {
	display: flex;
	font-family: $sans-serif;
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px;

	li {
		margin-left: 10px;
		border-right: 1px solid $light-gray;
	}

	button {
		background: none;
		padding: 0px;
		color: #000;
		font-weight: normal;
		border: none;
	}

	button:hover {
		background-color: $lightest-gray;
	}

	a,
	button, 
	time {
		margin-right: 10px;
	}

	i {
		margin-right: 5px;
	}

	strong {
		color: green;
	}
}