<div class="masthead">
    <div class="language-nav">
    <ul>
        <li><a href="#">CSS</a></li>
        <li><a href="#">HTML</a></li>
        <li><a href="#">Javascript</a></li>
        <li><a href="#">Ruby</a></li>
    </ul>
    </div>
    <div>
        <img src="assets/AA_Times_Logo.png">
    </div>
    <div>
        <ul class="masthead-links" >
            <li><a>Tuesday, October 18, 2016</a></li>
            <li><i class="fa fa-newspaper"></i>
                <button>Today’s Paper</button><a href="#"></a></li>
            <li><i class="fa fa-video"></i>
                <button>Video</button><a href="#"></a></li>
            <li><button>77°F</button><a href="#"></a></li>
            <li><button>AAO +100%</button><a href="#"></a></li>
        </ul>
    </div>
</div>








