<ul class="masthead-links2">
    <li><button>World</button><a href="#"></a></li>
    <li><button>San Francisco</button><a href="#"></a></li>
    <li><button>New York</button><a href="#"></a></li>
    <li><button>Bootcamp Prep</button><a href="#"></a></li>
    <li><button>Jumpstart</button><a href="#"></a></li>
    <li><button>Online</button><a href="#"></a></li>
    <li><button>Marketing</button><a href="#"></a></li>
    <li><button>Sales</button><a href="#"></a></li>
    <li><button>TalentMatch</button><a href="#"></a></li>
    <li><button>Alumni</button><a href="#"></a></li>
    <li><button>All</button><a href="#"></a></li>
</ul>













